.shadow
{
    border: 2px black solid;

    /* horizontal vertical adoucissement couleur */
    box-shadow: 6px 6px 6px black;
}

.inshadow
{
    border: 2px black solid;

    /* horizontal vertical adoucissement couleur */
    box-shadow: 2px 2px 8px black inset;
}

.textshadow
{
    text-shadow: 2px 2px 4px black;
}